div.col a {
  background-color: saddlebrown;
  color: #ffffff;
}

div.col a:hover {
  background-color: lightsalmon;
  transition: all 0.2s ease;
}

div a.btn {
  background-color: saddlebrown;
  color: #ffffff;
}

div a.btn:hover {
  background-color: lightsalmon;
  transition: all 0.2s ease;
}

.custom-badge:hover {
  background-color: lightsalmon;
  transition: all 0.2s ease;
}

p.card-text {
  font-size: 1em;
}
